#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#main-heading{
  font-size: clamp(30px, 4vw, 60px);
  margin-bottom: 50px;
}
.header-add-div{
  margin-bottom: 20px;
}
.header-add-div, .header-get-div{
  display: flex;
  justify-content: space-around;
}
.diabetes-div h1{
  font-size: clamp(30px, 4vw, 60px);
  margin-bottom: 50px;
}
.random-sugar-div{
  margin: 30px 0;
}
.diabetes-input input{
  border: none;
  padding: 0.5rem;
  border-radius: 8px;
}
.bp-div h1{
  font-size: clamp(30px, 4vw, 60px);
  margin-bottom: 50px;
}
.bp-div input{
  border: none;
  padding: 0.5rem;
  border-radius: 8px;
}
.diastolic-bp-div{
  margin: 30px 0;
}
.bp-div select{
  border: none;
  padding: 0.5rem;
  margin: 30px 0;
}
.show-bp-div h1{
  font-size: clamp(30px, 4vw, 60px);
}
.show-diabetes-div h1{
  font-size: clamp(30px, 4vw, 60px);
}